*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body{
    margin: 0;
    padding: 0;
}

#logo{
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 0;
    padding-bottom: 5px;
}

#logo a img{
    width: 80px;
    height: fit-content;
}

#title{
    padding-left: 10px;
}

#menu ul{
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 50);
    display: flex;
    font-size: 20px;
}

#menu li{
    float: left;
}

#menu li a{
    display: block;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    transition-duration: 0.4s;
}

#menu li a:hover{
    background-color: rgb(170, 170, 170);
    color: rgb(51, 51, 50);
    transform: scale(1.2);
}

#menu li .sel{
    background-color: lightcoral;
}

#main{
    margin: 50px;
}

footer{
    height: fit-content;
    width: 100%;
    justify-content: center;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(51, 51, 50);
}

footer p{
    text-align: center;
    color: #f2f2f2;
}
footer p a{
    color: #f2f2f2;
    transition-duration: 0.4s;
}

footer p a:hover{
    color: #999999;
}

table{
    border: 3px solid #ddd;
    width: auto;
}

thead, thead th{ 
   border: 1px solid;
    width: auto;
    padding: 10px; 
    
    background-color: lightblue;
} 

tbody th {
    background-color: lightgray;
    border: 1px solid;
    width: auto;
    padding: 10px;
}

td {
    border: 1px solid;
    width: auto;
    padding: 10px;
}

.spacer {
    border: 0px;
    background-color: #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}

img {
    width:fit-content; 
    height: 110px;
}